
/* apply a natural box layout model to all elements */
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

img,video{
width: auto;
max-width: 100%;
height: auto;
}


body {
width:96%;
margin:0 auto;
border:1px solid #666;
background-color: #E0E0E0;
font-size: 100%;
line-height: 1.5;
font-family: ;
}

header
{
		margin:auto;
		width:86%;
		background-color:red;
		border:2px solid #a1a1a1;
		padding:10px 40px; 
		background:#C2C2D6;
		border-radius:25px;
		font-size: 1.5em;
}


h1

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:30px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

h1.main-header
	
	{
		margin:auto;
		width:86%;
		border:2px solid #a1a1a1;
		padding:10px 40px; 
		/*background:#C2C2D6;*/
		border-radius:25px;
		font-size: 1.5em;

		width:86%;
	background-color: #4471AF;
	padding: 10px
	}

h1.sub-header

{
		margin:auto;
		width:86%;
		background-color:red;
		border:2px solid #a1a1a1;
		padding:10px 40px; 
		background:#C2C2D6;
		border-radius:25px;
		font-size: 3em;
	}
h2

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:25px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

h3

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:23px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}
	
p
	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:16px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
		margin-bottom: 1em;
	}


	/* =======================================
Sessions page
======================================= */
p.presenter

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:18px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

.track{
	width:86%;
	background-color: #4471AF;
	padding: 10px
	;
}

.session {
margin:auto;
width:86%;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;

}

.conference{
margin:auto;
width:86%;
background-color:red;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
}

	/* =======================================
speakers page
======================================= */
/*xbody#speakers{*/
	
.intro{
	margin:auto;
width:86%;
background-color:red;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
}

}
.track{
	width:86%;
	background-color: #E0E0E0;
	padding: 10px
	;
}

.speakers {
margin:auto;
width:86%;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
}

/* =======================================
About page
======================================= */
.directions{
	
}
.directions h2{
	text-transform: uppercase;
}

.directions-type{
	margin:auto;
width:86%;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
}


.location {
margin:auto;
width:86%;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
	}

.map {
margin:auto;
width:86%;
background-color:red;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
	}

.subway {
margin:auto;
width:86%;
background-color:red;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
	}

.bus{
	margin:auto;
width:86%;
background-color:red;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
}
.date{
	margin:auto;
width:86%;
background-color:red;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#C2C2D6;
border-radius:25px;
}

/* ============================
* NAVIGATION 
* Modified from: http://webdesign.tutsplus.com/tutorials/   htmlcss-tutorials/a-simple-responsive-mobile-first-navigation/
* =============================*/  

#main_nav{
clear:both;
}  

#main_nav ul{
list-style: none;
}

#main_nav li a{
display:block;
color:#fff;
background-color: #555;
text-transform: uppercase;
padding: 0.625em; /* 10/16 */
text-decoration:none;
border-bottom: 1px solid #eee;
font-weight:900;
}

#main_nav li a:hover{
 color:#555;
background-color: #fff;
}

#main_nav li a:active{
color:#555;
background-color: #f90;
}  

/* menu button */
.menu a{
padding:0.5em 0.625em; /*10/16 */
background-color: #555;
background-color: rgba(60,60,60,.6);
border-radius:5px;
color: #fff;
text-decoration:none;
}

.menu a:hover{
color:#555;
background-color: #f90;
}

.menu{
margin-bottom:1em;
position:fixed;
float: right; 
}



