*, *:before, *:after
{
-moz-box-sizing: border-box; -webkit-box-sizing;
}

body {
	width:96%;
	margin:0 auto;

	background-color: #FFCC66;
	}	

.conference{
	margin: auto;
	width:86%;
	background-color: red;
	margin:auto;
	}

.date {
	margin:auto;
	width:86%;
	background-color:#FFFF99;
	}





h1

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:20px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

h2

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:25px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

h3

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:23px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}
	
p
	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:16px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

p.presenter

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:18px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}


/* =======================================
About page
======================================= */
.directions{
	
}
.directions h2{
	text-transform: uppercase;
}

.directions-type{
	padding-left:10px;
	padding-top:10px;
	margin:auto;
	width:86%;
}


.location {
	margin:auto;
	width:86%;
	background-color:green;
	}

.map {
	margin:auto;
	width:86%;
	background-color:purple;
	}

.subway {

	background-color:gray;
	}

.bus{
	background-color:blue;
}

	/* =======================================
Sessions page
======================================= */





/* =======================================
Schedule page
======================================= */
